######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE
rm -rf /usr/local/nginx/html/yiliao/admin1/dist.zip && mv /root/data/yiliao/admin/dist.zip /usr/local/nginx/html/yiliao/admin1/ && unzip -o /usr/local/nginx/html/yiliao/admin1/dist.zip

unzip -o /root/data/yiliao/admin/dist.zip -d /usr/local/nginx/html/yiliao/admin1/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml
